---
published: true
layout: page
title: Calendar
meta_title:        # Appears on bookmarks, search results, etc...
meta_description:  # Used in HTML head and as the description for some search engines
# Ratio: 16:9 | Recommended: 1492px by 840px | Minimum: 746px by 420px


navigation:
  order: 10
pagelist:
  exclude: false
  order:         # Defaults to navigation order  
  image: 46x21/kids/nordic_dancers.jpg
  alt:
  caption:
  title:         # Defaults to navigation title
  subtitle:      # Defaults to page subtitle
  teaser:        # Defaults to page meta-description   

ongoing:
  - url: /exhibitions/special/chicago-norske-klub/
    file_under:
    image:
    alt:
    caption:
    title: Chicago Norske Klub 
    subtitle: December 6, 2014–November 15, 2015
    teaser: Sharing the history of this center for social, cultural, and artistic activities from 1911 to 1871, as wall as and furnishings from the clubhouse.
    published: true
    start_date: 
    stop_date:
  - url: /exhibitions/special/pioneer-immersion-program-exhibition-of-projects/
    file_under:
    image:
    alt:
    caption:
    title: Pioneer Immersion Program Exhibition of Projects 
    subtitle: May 11–17, 2015
    teaser: Projects and journals from area fourth-grade students participating in the Pioneer Immersion Program.
    published: false
    start_date: 
    stop_date: 
  - url: /exhibitions/special/national-exhibition-of-folk-art-in-the-norwegian-tradition/
    file_under:
    image:
    alt:
    caption:
    title: The National Exhibition of Folk Art in the Norwegian Tradition 
    subtitle: June 12–July 25, 2015
    teaser: An annual show, competition, and sale! Don’t miss this opportunity to admire recent works of amazing rosemaling, knifemaking, weaving, and woodworking by contemporary artists from all over the country.
    published: true
    start_date: 
    stop_date: 2015-07-26
  - url: /exhibitions/special/flora-fauna/
    file_under:
    image:
    alt:
    caption:
    title: "Flora and Fauna in Norwegian Folk Art"
    subtitle: June 17, 2015 – Spring 2016
    teaser: This display celebrates both the use of natural materials in Norwegian folk-art and the way artists portrayed flowers and animals in their work. 
    published: true
    start_date: 
    stop_date:  
  - url: /exhibitions/special/from-underwear-to-everywhere-norwegian-sweaters/
    file_under:
    image:
    alt:
    caption:
    title: "From Underwear to Everywhere: Norwegian Sweaters" 
    subtitle: August 22, 2015 to April 24, 2016
    teaser: Coming from humble beginnings as a warm layer under a vest and jacket, Norwegian sweaters are now worn all over the world and for almost every occasion.
    published: true
    start_date: 
    stop_date:
  - url: /exhibitions/special/woodcarved-figures-nordic-roots/
    file_under:
    image:
    alt:
    caption:
    title: "Woodcarved Figures, Nordic Roots" 
    subtitle: September 19, 2015 - April 17, 2016
    teaser: Showcasing the rich heritage and complex mastery of these seemingly simple figures.
    published: true
    start_date: 
    stop_date:
  - url: /exhibitions/special/love-norway-x/
    file_under:
    image:
    alt:
    caption:
    title: Love Norway X
    subtitle: November 1, 2014–April 07, 2015
    teaser: A special installation of a monumental artwork—a flag sculpture—made by Ian Ward Garlant of Hatlestrand, Norway, to celebrate the 200th anniversary of the Norwegian constitution.
    published: true
    start_date: 
    stop_date:    
  - url: /visit/plan/hours-and-admission/
    image:
    alt:
    caption:
    title: Free First Thursday
    subtitle: The first Thursday of each month
    teaser: Visit Vesterheim. Enjoy free admission all day.
    published: true
    start_date: 
    stop_date:    
  - url: /exhibitions/open-air/
    file_under:
    image:
    alt:
    caption:
    title: Daily guided tours of the Open Air Division at 1:30
    subtitle: May 1–October 31, 2015
    teaser: Join Vesterheim’s experienced and knowledable tour guides as they lead you through the historic buildings in the Open Air Division.
    published: true
    start_date: 
    stop_date:

events:
  - url: /visit/plan/hours-and-admission/
    image:
    alt:
    caption:
    title: Free First Thursday
    subtitle: February 5, 2015
    teaser: Visit Vesterheim with free admission all day. Open from 10:00 a.m. to 4:00 p.m.
    published: false
    start_date: 
    stop_date:
  - url: /events/calendar/2015/02/06/taste-of-winneshiek/
    image: 46x21/events/taste-of-winneshiek.jpg
    alt:
    caption:
    title: A Taste of Winneshiek 
    subtitle: February 6, 2015
    teaser: "Vesterheim's Museum Store participates in the first annual Taste of Winneshiek, Feb. 6 from 5:00-8:00 p.m. Stroll along Decorah’s quaint downtown Water Street on a beautiful winter’s evening and duck into the cozy shops and restaurants for samples of delicious local food, wine, beer, and coffee."
    published: false
    start_date: 
    stop_date: 2015-02-08
  - url: /events/annual/barnelopet/
    image:
    alt:
    caption:
    title: Barneløpet
    subtitle: February 7, 2015
    teaser: Get outside and enjoy the winter during this non-competitive ski or walk event for children ages 3-13, held at the Decorah Prairie. 
    published: false
    start_date: 
    stop_date: 2015-02-08
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: February 17, 2015 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: false
    start_date: 
    stop_date: 2015-02-18
  - url: /about/news/2015/scandinavian-music-jam/
    image:
    alt:
    caption:
    title: Fourth Sunday Scandinavian Music Jam 
    subtitle: February 22, 2015 
    teaser: Share a tune, learn a tune! Stop by for this informal Scandinavian music jam. Bring any instrument you want to play, or just come to listen. 
    published: false
    start_date: 
    stop_date: 2015-02-23
  - url: /events/away/la-crosse/
    image:
    alt:
    caption:
    title: When Disney Called, Luncheon and Presentation - La Crosse, Wisconsin 
    subtitle: February 22, 2015 
    teaser: Everyone is invited to join Vesterheim in La Crosse as we share how our museum artifacts are connected to the Disney film _Frozen_ with the entertaining presentation, When Disney Called. 
    published: false
    start_date: 
    stop_date: 2015-02-23
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: March 17, 2015
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2015-03-18
  - url: /events/calendar/2015/03/22/scandinavian-music-jam/
    image:
    alt:
    caption:
    title: Fourth Sunday Scandinavian Music Jam 
    subtitle: March 22, 2015 
    teaser: Share a tune, learn a tune! Stop by for this informal Scandinavian music jam. Bring any instrument you want to play, or just come to listen. 
    published: true
    start_date: 
    stop_date: 2015-03-23
  - url: /events/calendar/2015/03/29/roy-behrens-on-the-roots-of-mid-century-modern-design/
    image:
    alt:
    caption:
    title: "Lecture—Less is More, More or Less: The Roots of Mid-Century Modern Design by Roy Behrens"
    subtitle: March 29, 2015
    teaser: "Presented at 2:00 p.m. in the Amdal-Odland Heritage Center in connection with _Scandinavian Modern Design: Norwegian Enamel._"
    published: true
    start_date: 
    stop_date: 2015-03-30
  - url: /visit/plan/hours-and-admission/
    image:
    alt:
    caption:
    title: Free First Thursday
    subtitle: April 2, 2015
    teaser: Visit Vesterheim with free admission all day. Open from 10:00 a.m. to 4:00 p.m.
    published: false
    start_date:
    stop_date: 2015-04-03
  - url: /events/calendar/2015/04/16/volunteer-open-house/
    image:
    alt:
    caption:
    title: "Volunteer Open House"
    subtitle: April 16, 2015 
    teaser: "All current and prospective volunteers are invited to an Open House on April 16 to celebrate National Volunteer Week."
    published: true
    start_date:
    stop_date: 2015-04-20
  - url: /events/away/twin-cities/
    image:
    alt:
    caption:
    title: Twin Cities Area Friends of Vesterheim Nordic Celebration & Marketplace 
    subtitle: April 18, 2015
    teaser: Celebrate Norwegian heritage with a marketplace, delectable meal, and program at the Minneapolis Marriott Southwest in Minneapolis, Minnesota.
    published: true
    start_date:
    stop_date: 2015-04-19
  - url: /events/calendar/2015/04/19/lund-presentation-exhibit-closing-events/
    image:
    alt:
    caption:
    title: "Lecture—Stores Like Homes, Homes Like Museums: Traditions in Scandinavian Retailing by Curt Lund"
    subtitle: April 19, 2015 
    teaser: "Presented at 2:00 p.m. in the Amdal-Odland Heritage Center in connection with _Scandinavian Modern Design: Norwegian Enamel_."
    published: true
    start_date:
    stop_date: 2015-04-20
  - url: /events/away/chicago/
    image:
    alt:
    caption:
    title: Chicago Friends of Vesterheim Nordic Marketplace & Luncheon 
    subtitle: April 25, 2015
    teaser: Celebrate Norwegian heritage and discover more about Norwegian traditions at the Park Ridge Country Club, Park Ridge, Illinois.
    published: false
    start_date: 
    stop_date: 
  - url: /events/calendar/2015/04/26/scandinavian-music-jam/
    image:
    alt:
    caption:
    title: Fourth Sunday Scandinavian Music Jam 
    subtitle: April 26, 2015 
    teaser: Share a tune, learn a tune! Stop by for this informal Scandinavian music jam. Bring any instrument you want to play, or just come to listen. 
    published: true
    start_date: 
    stop_date: 2015-04-27
  - url: /visit/plan/hours-and-admission/
    image:
    alt:
    caption:
    title: Free First Thursday
    subtitle: May 7, 2015 
    teaser: Visit Vesterheim with free admission all day. Open from 9:00 a.m. to 5:00 p.m.
    published: false
    start_date: 
    stop_date: 
  - url: /norway-tours/upcoming/textile/
    image:
    alt:
    caption:
    title: Tour to Norway—Textile Study Tour to Northern Norway
    subtitle: May 12-24, 2015 
    teaser: Participants travel to Norway for Vesterheim’s seventh Textile Study Tour, which focuses on the textiles and traditions of both coastal Norway and the Sámi people.
    published: false
    start_date: 
    stop_date: 
  - url: /events/youth-programs/pioneer-immersion/
    image:
    alt:
    caption:
    title: Pioneer Immersion Program Open House 
    subtitle: May 14, 2015 
    teaser: Area fourth-grade students and teachers who participated in the Pioneer Immersion Program will host an Open House of their projects and journals from 4:30-6:30 p.m. Everyone is invited to view and celebrate this fantastic show.
    published: false
    start_date: 
    stop_date: 
  - url: /events/annual/syttende-mai/
    image:
    alt:
    caption:
    title: Syttende Mai Celebration
    subtitle: May 16, 2015
    teaser: Celebrate Norwegian Constitution Day with free museum admission, a children’s parade, Decorah’s Nordic Dancers, and more.
    published: false
    start_date: 
    stop_date: 
  - url: /exhibitions/special/national-exhibition-of-folk-art-in-the-norwegian-tradition/
    image:
    alt:
    caption:
    title: Opening day of The National Exhibition of Folk Art in the Norwegian Tradition 
    subtitle: June 12, 2015
    teaser: An annual show, competition, and sale of amazing folk art by contemporary artists!
    published: false
    start_date: 
    stop_date: 
  - url: /norway-tours/upcoming/coastal-voyage/
    image:
    alt:
    caption:
    title: "Tour to Norway—Norwegian Coastal Voyage: A Vesterheim Experience"
    subtitle: July 2–15, 2015
    teaser: Participants travel to Norway as Vesterheim gives its special touch to the Hurtigruten’s classic Norwegian coastal voyage!
    published: false
    start_date: 
    stop_date: 
  - url: /events/annual/folk-art-banquet/
    image:
    alt:
    caption:
    title: Folk Art Banquet
    subtitle: July 24, 2015
    teaser: Meet folk artists, honor winners in Vesterheim’s National Exhibition and new Gold Medalists, and celebrate Norwegian folk art.
    published: true
    start_date: 
    stop_date: 2015-07-25
  - url: /events/calendar/2015/07/24/sister/
    image: 46x21/events/nordic-fest-sister.jpg
    alt:
    caption:
    title: “Sister” Music Trio
    subtitle: July 24 and 25, 2015
    teaser: Kjersten Dysthe, Alisa Leonard, and Kara Millerhagen from Minnesota, perform in Decorah during Nordic Fest—Friday and Saturday, 3 p.m. in Decorah's Carrie Lee School Auditorium. 
    published: true
    start_date: 
    stop_date: 2015-07-26    
  - url: /events/calendar/2015/07/25/worlds-largest-schottische/
    image: 46x21/events/foot-notes.jpg
    alt:
    caption:
    title: World’s Largest Schottische
    subtitle: July 25, 2015
    teaser: Everyone is welcome to register and be counted to make this the world's largest schottische! The count will take place at exactly 8:50 p.m. at the Foot-Notes dance on the east end of Water Street during Nordic Fest.
    published: true
    start_date: 
    stop_date: 2015-07-26           
  - url: /events/annual/nordic-fest/
    image:
    alt:
    caption:
    title: Vesterheim activities at Decorah’s Nordic Fest
    subtitle: July 24–25, 2015
    teaser: Vesterheim hosts great activiteis during Decorahs premier ethnic festival, featuring Scandinavian food, music, arts, crafts, and more.
    published: true
    start_date: 
    stop_date: 2015-07-26   
  - url: /events/calendar/2015/08/23/scandinavian-music-jam/
    image:
    alt:
    caption:
    title: Fourth Sunday Scandinavian Music Jam 
    subtitle: August 23, 2015 
    teaser: Share a tune, learn a tune! Stop by for this informal Scandinavian music jam. Bring any instrument you want to play, or just come to listen. 
    published: true
    start_date: 
    stop_date: 2015-08-24
  - url: /events/away//des-moines/
    image:
    alt:
    caption:
    title: Luncheon and Sweater Presentation in Des Moines, Iowa 
    subtitle: August 30, 2015
    teaser: Enjoy the presentation _The History of Norwegian Sweaters_ by Vesterheim curator Laurann Gilbertson at the Des Moines Marriott Downtown.
    published: true
    start_date:
  - url: /norway-tours/upcoming/coastal-voyage/
    image:
    alt:
    caption:
    title: "Tour to Norway—Norwegian Coastal Voyage: A Vesterheim Experience"
    subtitle: August 26–September 9, 2015
    teaser: Participants travel to Norway as Vesterheim gives its special touch to the Hurtigruten’s classic Norwegian coastal voyage!
    published: true
    start_date: 
    stop_date: 
  - url: /visit/plan/hours-and-admission/
    image:
    alt:
    caption:
    title: Free First Thursday
    subtitle: September 3, 2015
    teaser: Visit Vesterheim with free admission all day. Open from 9:00 a.m. to 5:00 p.m.
    published: false
    start_date: 
    stop_date: 
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: September 15, 2015 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2015-09-16
  - url: /exhibitions/special/woodcarved-figures-nordic-roots/
    image:
    alt:
    caption:
    title: "Opening reception for the exhibition Woodcarved Figures: Nordic Roots"
    subtitle: September 18, 2015
    teaser: Celebrate this exhibition with a gallery talk by Harley Refsal and refreshments from 5:00-7:00 p.m. - free admission. 
    published: true
    start_date: 
    stop_date: 
  - url: /events/calendar/2015/09/19/torgenrud-book-signing/
    image: /46x21/events/torgenrud-pick-up-bandweaving-book.jpg
    alt:
    caption:
    title: Book Signing by Heather Torgenrud, author of _Norwegian Pick-up Bandweaving_
    subtitle: September 19, 2015
    teaser: From 4:30-5:00 p.m. 
    published: true
    start_date: 
    stop_date: 
  - url: /events/calendar/2015/09/27/baltic-crossing/
    image:
    alt:
    caption:
    title: Baltic Crossing
    subtitle: September 27, 2015
    teaser: A fantastic concert by these award-winning musicians from Europe. 
    published: true
    start_date: 
    stop_date: 
  - url: /join-give/benefit-auction/
    image:
    alt:
    caption:
    title: Folk Art Benefit Auction Online
    subtitle: October 1-28, 2015
    teaser: Your channce to own one-of-a-kind folk-art pieces of rosemaling, woodworking, fiber arts, and more by the best artists working in the Norwegian tradition.
    published: true
    start_date: 
    stop_date: 
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: October 20, 2015 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2015-10-21
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: November 17, 2015 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2015-11-18
  - url: /events/annual/deck-tables/
    image:
    alt:
    caption:
    title: Deck the Tables
    subtitle: November 20-21, 2015 
    teaser: A fabulous community event showcasing the talents of area residents and retailers who create beautiful table settings to spark holiday decorating ideas.
    published: true
    start_date: 
    stop_date:  
  - url: /events/annual/norwegian-christmas/
    image:
    alt:
    caption:
    title: Norwegian Christmas Celebration
    subtitle: December 5, 2015 
    teaser: This event brings the museum to life with a Christmas tree party, visits from the Julenisse, hands-on crafts, Scandinavian food, live music, folk-art demonstrations, decorations, and many holiday traditions, both old and new.
    published: true
    start_date: 
    stop_date:  
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: December 15, 2015 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2015-12-16
---
<h2>Ongoing</h2>
</div>
{% for calendar__ongoing in page.ongoing %}
{% include calendar/temp-ongoing.html %}
{% endfor %}
<p>&nbsp;</p>
<div class="layout__main--constrained  text">
<h2>Events</h2>
</div>
{% for calendar__ongoing in page.events %}
{% include calendar/temp-ongoing.html %}
{% endfor %}
<p>&nbsp;</p>
<div class="layout__main--constrained  text">
<h2>Classes</h2>
{% assign calendar__classes = site.data.pagelist | where: 'layout', 'class' | sort: 'dtstart' %}
<ul>
{% for calendar__class in calendar__classes %}
<li><a href="{{ calendar__class.url }}"><strong>{{ calendar__class.title }}</strong><br />{{ calendar__class.subtitle }}</a></li>{% endfor %}
</ul>
{% assign assign calendar__classes = nil %}
{% assign assign calendar__class = nil %}
