---
published: true
layout: page
title: Calendar
meta_title:        # Appears on bookmarks, search results, etc...
meta_description:  # Used in HTML head and as the description for some search engines
# Ratio: 16:9 | Recommended: 1492px by 840px | Minimum: 746px by 420px


navigation:
  order: 10
pagelist:
  exclude: false
  order:         # Defaults to navigation order  
  image: 46x21/kids/nordic_dancers.jpg
  alt:
  caption:
  title:         # Defaults to navigation title
  subtitle:      # Defaults to page subtitle
  teaser:        # Defaults to page meta-description   

ongoing:
  - url: /exhibitions/special/lila-nelson-weaving-retrospective/
    file_under:
    image:
    alt:
    caption:
    title: "From Tradition to Protest: Lila Nelson’s Weaving Life"
    subtitle: December 5, 2015 to November 13, 2016
    teaser: This retrospective exhibition of weavings by Lila Nelson shows how she began by mastering traditional Norwegian weaving techniques, subsequently using them in fresh and contemporary ways. 
    published: true
    start_date: 
    stop_date: 2016-11-14
  - url: /exhibitions/special/pioneer-immersion-program-exhibition-of-projects/
    file_under:
    image:
    alt:
    caption:
    title: Pioneer Immersion Program Exhibition of Projects 
    subtitle: May 16–22, 2016
    teaser: Projects and journals from area fourth-grade students participating in the Pioneer Immersion Program.
    published: false
    start_date: 
    stop_date: 
  - url: /exhibitions/special/national-exhibition-of-folk-art-in-the-norwegian-tradition/
    file_under:
    image:
    alt:
    caption:
    title: The National Exhibition of Folk Art in the Norwegian Tradition 
    subtitle: June 9–July 30, 2016
    teaser: An annual show, competition, and sale! Don’t miss this opportunity to admire recent works of amazing rosemaling, knifemaking, weaving, and woodworking by contemporary artists from all over the country.
    published: true
    start_date: 
    stop_date: 2016-07-31
  - url: /exhibitions/special/skal-scandinavian-spirits/
    file_under:
    image:
    alt:
    caption:
    title: "Skål! Scandinavian Spirits" 
    subtitle: August 12-December 31, 2016
    teaser: This exciting traveling exhibition curated by the Museum of Danish America tells the story of the role that alcoholic beverages have played in Scandinavia.
    published: true
    start_date: 
    stop_date: 
  - url: /exhibitions/special/fifty-years-of-folk-art/
    file_under:
    image:
    alt:
    caption:
    title: "Fifty Years of Folk Art" 
    subtitle: September 3, 2016-April 23, 2017
    teaser: Celebrate with us 50 incredible years of the groundbreaking Vesterheim Folk Art School and the famous annual exhibition it inspired.
    published: true
    start_date: 
    stop_date: 
  - url: /visit/plan/hours-and-admission/
    image:
    alt:
    caption:
    title: Free First Thursday
    subtitle: The first Thursday of each month
    teaser: Visit Vesterheim. Enjoy free admission all day.
    published: true
    start_date: 
    stop_date:    
  - url: /exhibitions/open-air/
    file_under:
    image:
    alt:
    caption:
    title: Daily guided tours of the Open Air Division at 1:30
    subtitle: May 1–October 31, 2016
    teaser: Join Vesterheim’s experienced and knowledable tour guides as they lead you through the historic buildings in the Open Air Division.
    published: false
    start_date: 
    stop_date:
  - url: /events/calendar/2015/12/03/gingerbread-fair/
    file_under:
    image:
    alt:
    caption:
    title: Gingerbread Fair
    subtitle: December 3-31, 2015
    teaser: Stop by the Bruening Visitor Center in the Westby-Torgerson Education Center to see gingerbread creations and learn more about the history of gingerbread fairs. Everyone is invited to display their own gingerbread creations. Deliver them between November 30 and December 2. 
    published: false
    start_date: 
    stop_date:

events:
  - url: /visit/plan/hours-and-admission/
    image:
    alt:
    caption:
    title: Free First Thursday
    subtitle: February 5, 2015
    teaser: Visit Vesterheim with free admission all day. Open from 10:00 a.m. to 4:00 p.m.
    published: false
    start_date: 
    stop_date:       
  - url: /events/calendar/2016/02/05/taste-of-winneshiek/
    image:
    alt:
    caption:
    title: "Taste of Winneshiek"
    subtitle: February 5, 2016
    teaser: Enjoy a sample brew by Decorah's own Pulpic Rock Brewing Co., at Vesterheim's Museum Store during the second annual Taste of Winneshiek.  
    published: false
    start_date: 
    stop_date: 2016-02-06
  - url: /events/annual/barnelopet/
    image:
    alt:
    caption:
    title: "Barneløpet"
    subtitle: February 6, 2016
    teaser: Get outside and enjoy the winter during this non-competitive ski or walk event for children ages 3-13, held at the Decorah Prairie. 
    published: false
    start_date: 
    stop_date: 2016-02-08
  - url: /events/away/twin-cities/
    image:
    alt:
    caption:
    title: Nordic Celebration and Marketplace in Twin Cities 
    subtitle: April 9, 2016
    teaser: Celebrate Norwegian heritage with a marketplace, delectable meal, and program at the Minneapolis Marriott Southwest in Minneapolis, Minnesota.
    published: true
    start_date:
    stop_date: 2016-04-10
  - url: /events/away/chicago/
    image:
    alt:
    caption:
    title: Nordic Luncheon and Marketplace in Chicago
    subtitle: April 23, 2016
    teaser: Celebrate Norwegian heritage with a marketplace, delectable meal, and program at the Park Ridge Country Club, Park Ridge, Illinois.
    published: false
    start_date:
    stop_date: 2016-04-10
  - url: /events/annual/syttende-mai/
    image:
    alt:
    caption:
    title: Syttende Mai Celebration
    subtitle: May 17, 2016
    teaser: Celebrate Norwegian Constitution Day with free museum admission, a children’s parade, Decorah’s Nordic Dancers, and more.
    published: false
    start_date: 
    stop_date: 
  - url: /events/youth-programs/pioneer-immersion/
    image:
    alt:
    caption:
    title: Pioneer Immersion Program Open House 
    subtitle: May 19, 2016 
    teaser: Area fourth-grade students and teachers who participated in the Pioneer Immersion Program will host an Open House of their projects and journals from 4:30-6:30 p.m. Everyone is invited to view and celebrate this fantastic show.
    published: false
    start_date: 
    stop_date: 
  - url: /exhibitions/special/national-exhibition-of-folk-art-in-the-norwegian-tradition/
    image:
    alt:
    caption:
    title: Opening day of The National Exhibition of Folk Art in the Norwegian Tradition 
    subtitle: June 9, 2016
    teaser: An annual show, competition, and sale of amazing folk art by contemporary artists!
    published: false
    start_date: 
    stop_date: 2016-06-10
  - url: /events/calendar/2016/07/24/scandinavian-music-jam/
    image:
    alt:
    caption:
    title: Scandinavian Music Jam 
    subtitle: July 24, 2016 
    teaser: Share a tune, learn a tune! Stop by for this informal Scandinavian music jam. Bring any instrument you want to play, or just come to listen. 
    published: true
    start_date: 
    stop_date:
  - url: /events/annual/folk-art-banquet/
    image:
    alt:
    caption:
    title: Folk Art Banquet
    subtitle: July 29, 2016
    teaser: Meet folk artists, honor winners in Vesterheim’s National Exhibition and new Gold Medalists, and celebrate Norwegian folk art.
    published: true
    start_date: 
    stop_date: 2016-07-30 
  - url: /events/annual/nordic-fest/
    image:
    alt:
    caption:
    title: Vesterheim activities at Decorah’s Nordic Fest
    subtitle: July 29-30, 2016
    teaser: Vesterheim hosts great activiteis during Decorahs premier ethnic festival, featuring Scandinavian food, music, arts, crafts, and more.
    published: true
    start_date: 
    stop_date: 2016-07-31  
  - url: /events/away/des-moines/
    image: 46x21/exhibitions/special/skal-triptych.jpg
    alt:
    caption:
    title: Vesterheim Friends Luncheon and Program - Des Moines, Iowa
    subtitle: August 27, 2016
    teaser: Join Vesterheim Executive Director Chris Johnson and Vesterheim’s Folk Art School Woodworking Instructor Rebecca Hannah in Des Moines for a presentation about traditional Norwegian celebrations and the drinks and folk arts that make them so special.
    published: true
    start_date:
    stop_date: 
  - url: /events/calendar/2016/09/09/skal-member-event/
    image: 46x21/exhibitions/special/skal-triptych.jpg
    alt:
    caption:
    title: An Evening of SKÅL—Members-Only Opening
    subtitle: September 9, 2016
    teaser: Experience Norwegian aquavit traditions and learn how to properly _skål_ at a members-only aquavit tasting and food pairing, guided by Christer Andre Olsen, Brand Ambassador from the Norwegian company Arcus, distributor of Aalborg and Linie Aquavits.
    published: true
    start_date: 
    stop_date: 
  - url: /events/calendar/2016/09/10/skal-reception/
    image: 46x21/exhibitions/special/skal-triptych.jpg
    alt:
    caption:
    title: Exhibition Opening for _SKÅL! Scandinavian Spirits_
    subtitle: September 10, 2016
    teaser: Everyone is invited to celebrate the exhibition _Skål! Scandinavian Spirits_ at this opening reception.
    published: true
    start_date: 
    stop_date: 
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: September 20, 2016 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2016-09-21
  - url: /events/calendar/2016/09/24/smithsonian-day-live/
    image:
    alt:
    caption:
    title: Smithsonian Magazine Museum Day Live
    subtitle: September 24, 2016
    teaser: Visit the Smithsonian Museum Day Live website to print your free tickets to Vesterheim. 
    published: true
    start_date: 
    stop_date: 
  - url: /join-give/benefit-auction/
    image:
    alt:
    caption:
    title: Folk Art Benefit Auction Online
    subtitle: October 5-19, 2016
    teaser: Your channce to own one-of-a-kind folk-art pieces of rosemaling, woodworking, fiber arts, and more by the best artists working in the Norwegian tradition.
    published: true
    start_date: 
    stop_date: 
    stop_date: 
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: October 18, 2016 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2016-10-19
  - url: /events/annual/deck-tables/
    image:
    alt:
    caption:
    title: Deck the Tables
    subtitle: November 4-5, 2016 
    teaser: A fabulous community event showcasing the talents of area residents and retailers who create beautiful table settings to spark holiday decorating ideas.
    published: true
    start_date: 
    stop_date:  
  - url: /events/calendar/2016/11/05/knit-in/
    image:
    alt:
    caption:
    title: Knit-In
    subtitle: November 5-6, 2016
    teaser: Everyone is welcome to come and enjoy the company of other knitters. 
    published: true
    start_date: 
    stop_date: 
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: November 15, 2016 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2016-11-16
  - url: /events/calendar/2016/12/02/gingerbread-fair/
    image: 46x21/events/gingerbread-house3.jpg
    alt:
    caption:
    title: Gingerbread Fair 
    subtitle: December 2, 2016-Janauary 2, 2017 
    teaser: Stop by the Bruening Visitor Center in the Westby-Torgerson Education Center to see gingerbread creations and learn more about the history of gingerbread fairs. Everyone is invited to display their own gingerbread creations. Deliver them between November 25 and December 1. 
    published: true
    start_date: 
    stop_date: 
  - url: /events/annual/norwegian-christmas/
    image: 
    alt:
    caption:
    title: Norwegian Christmas Celebration
    subtitle: December 3, 2016 
    teaser: This event brings the museum to life with a Christmas tree party, visits from the Julenisse, hands-on crafts, Scandinavian food, live music, folk-art demonstrations, decorations, and many holiday traditions, both old and new.
    published: true
    start_date: 
    stop_date: 2016-12-04
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: December 20, 2016 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2016-12-21
---
<h2>Ongoing</h2>
</div>
{% for calendar__ongoing in page.ongoing %}
{% include calendar/temp-ongoing.html %}
{% endfor %}
<p>&nbsp;</p>
<div class="layout__main--constrained  text">
<h2>Events</h2>
</div>
{% for calendar__ongoing in page.events %}
{% include calendar/temp-ongoing.html %}
{% endfor %}
<p>&nbsp;</p>
<div class="layout__main--constrained  text">