---
published: true
layout: page
title: Calendar
meta_title:        # Appears on bookmarks, search results, etc...
meta_description:  # Used in HTML head and as the description for some search engines
# Ratio: 16:9 | Recommended: 1492px by 840px | Minimum: 746px by 420px


navigation:
  order: 10
pagelist:
  exclude: false
  order:         # Defaults to navigation order  
  image: 46x21/kids/nordic_dancers.jpg
  alt:
  caption:
  title:         # Defaults to navigation title
  subtitle:      # Defaults to page subtitle
  teaser:        # Defaults to page meta-description   

ongoing:
  - url: /events/calendar/2015/12/03/gingerbread-fair/
    file_under:
    image:
    alt:
    caption:
    title: Gingerbread Fair
    subtitle: December 3-31, 2015
    teaser: Stop by the Bruening Visitor Center in the Westby-Torgerson Education Center to see gingerbread creations and learn more about the history of gingerbread fairs. Everyone is invited to display their own gingerbread creations. Deliver them between November 30 and December 2. 
    published: false
    start_date: 
    stop_date:
  - url: /exhibitions/special/from-underwear-to-everywhere-norwegian-sweaters/
    file_under:
    image:
    alt:
    caption:
    title: "From Underwear to Everywhere: Norwegian Sweaters" 
    subtitle: August 22, 2015 to April 24, 2016
    teaser: Coming from humble beginnings as a warm layer under a vest and jacket, Norwegian sweaters are now worn all over the world and for almost every occasion.
    published: true
    start_date: 
    stop_date: 2016-04-25
  - url: /exhibitions/special/woodcarved-figures-nordic-roots/
    file_under:
    image:
    alt:
    caption:
    title: "Woodcarved Figures, Nordic Roots" 
    subtitle: September 19, 2015 - April 17, 2016
    teaser: Showcasing the rich heritage and complex mastery of these seemingly simple figures.
    published: true
    start_date: 
    stop_date: 2016-04-18
  - url: /exhibitions/special/lila-nelson-weaving-retrospective/
    file_under:
    image:
    alt:
    caption:
    title: "From Tradition to Protest: Lila Nelson’s Weaving Life"
    subtitle: December 5, 2015 to November 13, 2016
    teaser: This retrospective exhibition of weavings by Lila Nelson shows how she began by mastering traditional Norwegian weaving techniques, subsequently using them in fresh and contemporary ways. 
    published: true
    start_date: 
    stop_date: 2016-11-14
  - url: /exhibitions/special/pioneer-immersion-program-exhibition-of-projects/
    file_under:
    image:
    alt:
    caption:
    title: Pioneer Immersion Program Exhibition of Projects 
    subtitle: May 16–22, 2016
    teaser: Projects and journals from area fourth-grade students participating in the Pioneer Immersion Program.
    published: true
    start_date: 
    stop_date: 
  - url: /exhibitions/special/national-exhibition-of-folk-art-in-the-norwegian-tradition/
    file_under:
    image:
    alt:
    caption:
    title: The National Exhibition of Folk Art in the Norwegian Tradition 
    subtitle: June 9–July 30, 2016
    teaser: An annual show, competition, and sale! Don’t miss this opportunity to admire recent works of amazing rosemaling, knifemaking, weaving, and woodworking by contemporary artists from all over the country.
    published: true
    start_date: 
    stop_date: 2016-07-31
  - url: /exhibitions/special/skal-scandinavian-spirits/
    file_under:
    image:
    alt:
    caption:
    title: "Skål! Scandinavian Spirits" 
    subtitle: August 12-December 31, 2016
    teaser: This exciting traveling exhibition curated by the Museum of Danish America tells the story of the role that alcoholic beverages have played in Scandinavia.
    published: true
    start_date: 
    stop_date: 
  - url: /exhibitions/special/fifty-years-of-folk-art/
    file_under:
    image:
    alt:
    caption:
    title: "Fifty Years of Folk Art" 
    subtitle: September 3, 2016-April 23, 2017
    teaser: Celebrate with us 50 incredible years of the groundbreaking Vesterheim Folk Art School and the famous annual exhibition it inspired.
    published: true
    start_date: 
    stop_date: 
  - url: /visit/plan/hours-and-admission/
    image:
    alt:
    caption:
    title: Free First Thursday
    subtitle: The first Thursday of each month
    teaser: Visit Vesterheim. Enjoy free admission all day.
    published: true
    start_date: 
    stop_date:    
  - url: /exhibitions/open-air/
    file_under:
    image:
    alt:
    caption:
    title: Daily guided tours of the Open Air Division at 1:30
    subtitle: May 1–October 31, 2016
    teaser: Join Vesterheim’s experienced and knowledable tour guides as they lead you through the historic buildings in the Open Air Division.
    published: false
    start_date: 
    stop_date:

events:
  - url: /visit/plan/hours-and-admission/
    image:
    alt:
    caption:
    title: Free First Thursday
    subtitle: February 5, 2015
    teaser: Visit Vesterheim with free admission all day. Open from 10:00 a.m. to 4:00 p.m.
    published: false
    start_date: 
    stop_date:
  - url: /events/calendar/2015/02/06/taste-of-winneshiek/
    image: 46x21/events/taste-of-winneshiek.jpg
    alt:
    caption:
    title: A Taste of Winneshiek 
    subtitle: February 6, 2015
    teaser: "Vesterheim's Museum Store participates in the first annual Taste of Winneshiek, Feb. 6 from 5:00-8:00 p.m. Stroll along Decorah’s quaint downtown Water Street on a beautiful winter’s evening and duck into the cozy shops and restaurants for samples of delicious local food, wine, beer, and coffee."
    published: false
    start_date: 
    stop_date: 2015-02-08
  - url: /events/away/la-crosse/
    image:
    alt:
    caption:
    title: When Disney Called, Luncheon and Presentation - La Crosse, Wisconsin 
    subtitle: February 22, 2015 
    teaser: Everyone is invited to join Vesterheim in La Crosse as we share how our museum artifacts are connected to the Disney film _Frozen_ with the entertaining presentation, When Disney Called. 
    published: false
    start_date: 
    stop_date: 2015-02-23
  - url: /events/calendar/2015/04/16/volunteer-open-house/
    image:
    alt:
    caption:
    title: "Volunteer Open House"
    subtitle: April 16, 2015 
    teaser: "All current and prospective volunteers are invited to an Open House on April 16 to celebrate National Volunteer Week."
    published: true
    start_date:
    stop_date: 2015-04-20            
  - url: /events/away//des-moines/
    image:
    alt:
    caption:
    title: Luncheon and Sweater Presentation in Des Moines, Iowa 
    subtitle: August 30, 2015
    teaser: Enjoy the presentation _The History of Norwegian Sweaters_ by Vesterheim curator Laurann Gilbertson at the Des Moines Marriott Downtown.
    published: true
    start_date:
  - url: /norway-tours/upcoming/coastal-voyage/
    image:
    alt:
    caption:
    title: "Tour to Norway—Norwegian Coastal Voyage: A Vesterheim Experience"
    subtitle: August 26–September 9, 2015
    teaser: Participants travel to Norway as Vesterheim gives its special touch to the Hurtigruten’s classic Norwegian coastal voyage!
    published: false
    start_date: 
    stop_date: 
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: September 15, 2015 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2015-09-16
  - url: /events/calendar/2015/09/26/smithsonian-day-live/
    image:
    alt:
    caption:
    title: Smithsonian Magazine Museum Day Live
    subtitle: September 26, 2015
    teaser: Visit the Smithsonian Museum Day Live website to print your free tickets to Vesterheim. 
    published: false
    start_date: 
    stop_date: 
  - url: /join-give/benefit-auction/
    image:
    alt:
    caption:
    title: Folk Art Benefit Auction Online
    subtitle: October 1-28, 2015
    teaser: Your channce to own one-of-a-kind folk-art pieces of rosemaling, woodworking, fiber arts, and more by the best artists working in the Norwegian tradition.
    published: false
    start_date: 
    stop_date: 
  - url: /events/away/madison/
    image:
    alt:
    caption:
    title: "_Telling Stories . . . With Wood,_ Luncheon and Presentation - Middleton, Wisconsin" 
    subtitle: November 1, 2015
    teaser: Join Harley Refsal for a delicious meal while learning more about the distinctive, and often whimsical, figure carving of the Nordic countries and Scandinavian America.
    published: true
    start_date: 
    stop_date: 2015-11-02
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: November 17, 2015 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2015-11-18
  - url: /events/annual/deck-tables/
    image:
    alt:
    caption:
    title: Deck the Tables
    subtitle: November 20-21, 2015 
    teaser: A fabulous community event showcasing the talents of area residents and retailers who create beautiful table settings to spark holiday decorating ideas.
    published: false
    start_date: 
    stop_date:  
  - url: /events/calendar/2015/12/03/gingerbread-fair/
    image:
    alt:
    caption:
    title: Gingerbread Fair 
    subtitle: December 3-31, 2015 
    teaser: Stop by the Bruening Visitor Center in the Westby-Torgerson Education Center to see gingerbread creations and learn more about the history of gingerbread fairs. Everyone is invited to display their own gingerbread creations. Deliver them between November 30 and December 2. 
    published: true
    start_date: 
    stop_date: 2015-12-31
  - url: /events/annual/norwegian-christmas/
    image:
    alt:
    caption:
    title: Norwegian Christmas Celebration
    subtitle: December 5, 2015 
    teaser: This event brings the museum to life with a Christmas tree party, visits from the Julenisse, hands-on crafts, Scandinavian food, live music, folk-art demonstrations, decorations, and many holiday traditions, both old and new.
    published: true
    start_date: 
    stop_date: 2015-12-06
  - url: /events/calendar/2015/12/05/pinchcliffe-grand-prix-film/
    image: 46x21/events/pinchcliffe-grand-prix-film.jpg 
    alt:
    caption:
    title: The Pinchcliffe Grand Prix Film
    subtitle: December 5, 2015 
    teaser: "The stop-motion-animation classic family film _The Pinchcliffe Grand Prix_ will screen along with the short documentary _In the Stream (Bekken)_ during the Norwegian Christmas Celebration at 2:30 p.m. in the Bethania Lutheran Church."
    published: true
    start_date: 
    stop_date: 2015-12-06
  - url: /events/away/rochester/
    image:
    alt:
    caption:
    title: "_Telling Stories . . . With Wood,_ Luncheon and Presentation - Rochester, Minnesota"  
    subtitle: December 6, 2015
    teaser: Join Harley Refsal for a delicious meal while learning more about the distinctive, and often whimsical, figure carving of the Nordic countries and Scandinavian America.
    published: true
    start_date: 
    stop_date: 2015-12-07
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: December 15, 2015 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2015-12-16
  - url: /events/calendar/2015/12/27/scandinavian-music-jam/
    image:
    alt:
    caption:
    title: Scandinavian Music Jam 
    subtitle: December 27, 2015 
    teaser: Share a tune, learn a tune! Stop by for this informal Scandinavian music jam. Bring any instrument you want to play, or just come to listen. 
    published: true
    start_date: 
    stop_date: 2015-12-30
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: January 19, 2016 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2016-01-20
  - url: /events/calendar/2016/01/24/scandinavian-music-jam/
    image:
    alt:
    caption:
    title: Scandinavian Music Jam 
    subtitle: January 24, 2016 
    teaser: Share a tune, learn a tune! Stop by for this informal Scandinavian music jam. Bring any instrument you want to play, or just come to listen. 
    published: true
    start_date: 
    stop_date: 2016-01-25
  - url: /events/calendar/2016/01/26/scandinavian-fine-handcraft/
    image:
    alt:
    caption:
    title: Luther College Student Demonstration and Exhibition of Scandinavian Fine Handcraft 
    subtitle: January 26, 2016 
    teaser: Be inspired by budding folk artists who are studying Norwegian handcrafts and Scandinavian traditions with woodcarver Harley Refsal. 
    published: true
    start_date: 
    stop_date: 2016-01-27
  - url: /events/calendar/2016/02/05/taste-of-winneshiek/
    image:
    alt:
    caption:
    title: "Taste of Winneshiek"
    subtitle: February 5, 2016
    teaser: Enjoy a sample brew by Decorah's own Pulpic Rock Brewing Co., at Vesterheim's Museum Store during the second annual Taste of Winneshiek.  
    published: false
    start_date: 
    stop_date: 2016-02-06
  - url: /events/annual/barnelopet/
    image:
    alt:
    caption:
    title: "Barneløpet"
    subtitle: February 6, 2016
    teaser: Get outside and enjoy the winter during this non-competitive ski or walk event for children ages 3-13, held at the Decorah Prairie. 
    published: false
    start_date: 
    stop_date: 2016-02-08
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: February 16, 2016 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2016-02-17
  - url: /events/calendar/2016/02/23/adult-coloring-lila-nelson-exhibit/
    image:
    alt:
    caption:
    title: "Adult Coloring Event in the Exhibition _From Tradition to Protest: Lila Nelson's Weaving Life_"  
    subtitle: February 23, 2016
    teaser: Come, relax, and learn about Lila Nelson's weavings while coloring pages based on her work.
    published: false
    start_date: 
    stop_date: 2016-02-29
  - url: /events/away/la-crosse/
    image:
    alt:
    caption:
    title: "_Telling Stories . . . With Wood,_ Luncheon and Presentation - La Crosse, Wisconsin"  
    subtitle: February 28, 2016
    teaser: Join Harley Refsal for a delicious meal while learning more about the distinctive, and often whimsical, figure carving of the Nordic countries and Scandinavian America.
    published: true
    start_date: 
    stop_date: 2016-02-29
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: March 15, 2016 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2016-03-16
  - url: /events/calendar/2016/04/02/getting-loopy-gathering-of-nalbinders/
    image:
    alt:
    caption:
    title: "Getting Loopy: A Gathering of Nålbinders"
    subtitle: April 2-3, 2016
    teaser: Join other nålbinders for an informal, creative weekend together. 
    published: true
    start_date: 
    stop_date: 2016-04-04
  - url: /events/away/twin-cities/
    image:
    alt:
    caption:
    title: Nordic Celebration and Marketplace in Twin Cities 
    subtitle: April 9, 2016
    teaser: Celebrate Norwegian heritage with a marketplace, delectable meal, and program at the Minneapolis Marriott Southwest in Minneapolis, Minnesota.
    published: true
    start_date:
    stop_date: 2016-04-10
  - url: /events/youth-programs/barnetimen/
    image:
    alt:
    caption:
    title: Barnetimen Children’s Hour 
    subtitle: April 19, 2016 
    teaser: For all pre-school-aged children and their parents or caregivers to explore art and culture with museum tours, hands-on art projects, and snacks, led by ArtHaus directors Jenni and Eric Petersen-Brant.
    published: true
    start_date: 
    stop_date: 2016-04-20
  - url: /events/away/chicago/
    image:
    alt:
    caption:
    title: Nordic Luncheon and Marketplace in Chicago
    subtitle: April 23, 2016
    teaser: Celebrate Norwegian heritage with a marketplace, delectable meal, and program at the Park Ridge Country Club, Park Ridge, Illinois.
    published: true
    start_date:
    stop_date: 2016-04-10
  - url: /events/annual/syttende-mai/
    image:
    alt:
    caption:
    title: Syttende Mai Celebration
    subtitle: May 17, 2016
    teaser: Celebrate Norwegian Constitution Day with free museum admission, a children’s parade, Decorah’s Nordic Dancers, and more.
    published: true
    start_date: 
    stop_date: 
  - url: /events/youth-programs/pioneer-immersion/
    image:
    alt:
    caption:
    title: Pioneer Immersion Program Open House 
    subtitle: May 19, 2016 
    teaser: Area fourth-grade students and teachers who participated in the Pioneer Immersion Program will host an Open House of their projects and journals from 4:30-6:30 p.m. Everyone is invited to view and celebrate this fantastic show.
    published: true
    start_date: 
    stop_date: 
  - url: /exhibitions/special/national-exhibition-of-folk-art-in-the-norwegian-tradition/
    image:
    alt:
    caption:
    title: Opening day of The National Exhibition of Folk Art in the Norwegian Tradition 
    subtitle: June 9, 2016
    teaser: An annual show, competition, and sale of amazing folk art by contemporary artists!
    published: true
    start_date: 
    stop_date: 2016-06-10
  - url: /events/calendar/2016/06/10/spinning-and-weaving-presentations/
    image: 46x21/folk-art-school/spinning-dyeing-owen-johnston.jpg
    alt:
    caption:
    title: Spinning and Weaving Presentations by Martha Owen and Elizabeth Johnstonition 
    subtitle: June 10, 2016
    teaser: Don't miss these great presentations by visiting instructors, Martha Owen and Elizabeth Johnston.
    published: true
    start_date: 
    stop_date: 2016-06-11
  - url: /events/annual/folk-art-banquet/
    image:
    alt:
    caption:
    title: Folk Art Banquet
    subtitle: July 29, 2016
    teaser: Meet folk artists, honor winners in Vesterheim’s National Exhibition and new Gold Medalists, and celebrate Norwegian folk art.
    published: true
    start_date: 
    stop_date: 2016-07-30 
  - url: /events/annual/nordic-fest/
    image:
    alt:
    caption:
    title: Vesterheim activities at Decorah’s Nordic Fest
    subtitle: July 29-30, 2016
    teaser: Vesterheim hosts great activiteis during Decorahs premier ethnic festival, featuring Scandinavian food, music, arts, crafts, and more.
    published: true
    start_date: 
    stop_date: 2016-07-31  
  - url: /events/calendar/2016/11/05/knit-in/
    image:
    alt:
    caption:
    title: Knit-In
    subtitle: November 5-6, 2016
    teaser: Everyone is welcome to come and enjoy the company of other knitters. 
    published: true
    start_date: 
    stop_date: 2016-04-04
  - url: /events/annual/norwegian-christmas/
    image:
    alt:
    caption:
    title: Norwegian Christmas Celebration
    subtitle: December 3, 2016 
    teaser: This event brings the museum to life with a Christmas tree party, visits from the Julenisse, hands-on crafts, Scandinavian food, live music, folk-art demonstrations, decorations, and many holiday traditions, both old and new.
    published: true
    start_date: 
    stop_date: 2016-12-04
---
<h2>Ongoing</h2>
</div>
{% for calendar__ongoing in page.ongoing %}
{% include calendar/temp-ongoing.html %}
{% endfor %}
<p>&nbsp;</p>
<div class="layout__main--constrained  text">
<h2>Events</h2>
</div>
{% for calendar__ongoing in page.events %}
{% include calendar/temp-ongoing.html %}
{% endfor %}
<p>&nbsp;</p>
<div class="layout__main--constrained  text">