/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */
/* Won't work without some hacking on a cdn */
@font-face {
  font-family: 'FranKlein';
  src: url('../fonts/frankleinmedium-webfont.eot?1413828604');
  src: url('../fonts/frankleinmedium-webfont.eot?&1413828604#iefix') format("embedded-opentype"), url('../fonts/frankleinmedium-webfont.woff?1413828604') format("woff"), url('../fonts/frankleinmedium-webfont.ttf?1413828604') format("truetype"), url('../fonts/frankleinmedium-webfont.svg?1413828604#frankleinmediumregular') format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'FranKlein';
  src: url('../fonts/frankleinbold-webfont.eot?1413828604');
  src: url('../fonts/frankleinbold-webfont.eot?&1413828604#iefix') format("embedded-opentype"), url('../fonts/frankleinbold-webfont.woff?1413828604') format("woff"), url('../fonts/frankleinbold-webfont.ttf?1413828604') format("truetype"), url('../fonts/frankleinbold-webfont.svg?1413828604#frankleinboldregular') format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'FranKlein';
  src: url('../fonts/frankleinbook-webfont.eot?1413828604');
  src: url('../fonts/frankleinbook-webfont.eot?&1413828604#iefix') format("embedded-opentype"), url('../fonts/frankleinbook-webfont.woff?1413828604') format("woff"), url('../fonts/frankleinbook-webfont.ttf?1413828604') format("truetype"), url('../fonts/frankleinbook-webfont.svg?1413828604#frankleinbookregular') format("svg");
  font-weight: 100;
  font-style: normal; }
body {
  color: #000;
  font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1; 
}
.wufoo .info {
  padding-bottom: 1.0625em;
  padding-bottom: 1.0625rem;
}
.wufoo .info h2 {
  color: #444;
  font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.77778em;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.0625em;
  line-height: 2em;
  line-height: 2.25rem;
  margin-bottom: 0.66667em;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}
.wufoo .info div {
/*  
  color: #404B4E;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.33333em;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.16667em;
  line-height: 1.75rem;
  xmargin-bottom: 2em;
  xmargin-bottom: 2.25rem; 
  xmargin-bottom: 1em;
  xmargin-bottom: 1.25rem; 
*/
  color: #DD5D2D;
  font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.94444em;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: normal;  
  line-height: 1.05882em;
  line-height: 1.125rem;
  letter-spacing: 1px;  
  xmargin-bottom: 2em;
  xmargin-bottom: 2.25rem;   
}
.wufoo .section div p {
  margin-top: 0;
  margin-bottom: 2em;
  margin-bottom: 2.25rem;
}
.wufoo .section h3 {
  color: #DD5D2D;
  font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.125em;
  font-size: 1.125rem;
  font-style: normal; 
  font-weight: 700;
  line-height: 1.33333333333333em;
  line-height: 1.5rem;
  margin-top: 2.33333em;
  margin-top: 2.625rem;
  margin-top: 1em;
  margin-top: 1.125rem;  
  margin-bottom: 0.33333em;
  margin-bottom: 0.375rem;
  padding-top: 1.27777777777778em;
  padding-top: 1.4375rem;
  padding-bottom: 0;
  text-transform: uppercase;
}
form li.no-separation {
  padding-top: 0;
}
.wufoo li.no-separation h3 {
  border-top-width: 0;
  margin-top:0;
  padding-top: 0;
}
form li.full-width {  
  width: auto !important;
}
form li {
  padding-top: 0em;
  padding-bottom: 1.5em;   
}
.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
  color: #404B4E;

  font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;  
 
}
.wufoo li div label, .wufoo li span label {
  color: #999;
  font-size: 0.75em;
  font-size: 0.75rem; 
  letter-spacing: 1px;  
  line-height: 1.5em;
  line-height: 1.125rem;
}
.wufoo .section div {
  color: #404B4E;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.125em;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.33333333333333em;
  line-height: 1.5rem;
  margin-bottom: 1.33333333333333em;
  margin-bottom: 1.5rem;
}

.wufoo label.desc, .wufoo legend.desc {
  color: #000000;
  font-size: 1em;
  font-size: 1rem;
  font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal; 
  padding-top: 0.5em;
  padding-top: 0.5rem;  
  padding-bottom: 0.25em;
  padding-bottom: 0.25rem;  
}

.wufoo label.choice {
  color: #404B4E;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.125em;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  line-height: 1.5rem;
  padding-bottom: 0;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
  color: #404B4E;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.125em;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  padding-top: 0.22222222222222em;
  padding-top: 0.25rem;
  padding-bottom: 0.22222222222222em;
  padding-bottom: 0.25rem;  
  padding: 0;
}{* Custom Fonts Break Dropdown Selection in IE *;
}

.wufoo input.text, .wufoo input.file, .wufoo select.select  {
  line-height: 1.22222222222222em;
  line-height: 1.375rem; 
}

.safari .wufoo input.file {
  color: #404B4E;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.125em;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  line-height: 1.5rem; 
}

.wufoo .instruct small {
  color: #404B4E;
  font-size: 0.875em;
  font-size: 0.875rem;
  font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857142857143em;
  line-height: 1.25rem;  
}

.confirm h2 {
font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
color: #000000;
}

.pgStyle1 var, .pgStyle2 var, .pgStyle2 em, .page1 .pgStyle2 var, .pgStyle1 b, .wufoo .buttons .marker {
font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
color: #000000;
}


.wufoo #lola {
font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
color: #000000;
}

.wufoo .wfo_graph h3 {
font-size: 140%;
font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
color: #000000;
}
