/**
 * Sub-Navigation extra indent 
 */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida, @rowanmanning and ultimately
 * @thierrylemoulec for refining and improving my initial mixin.
 */
/* line 4, sass/icons.data.png.scss */
.site-search__submit__icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAA9UlEQVQoU8WSwRGCMBBFdzODZ0uIVBAd4ZwSKIESKIESKEE7oATO4kAqQErwDDNZgw66MB7Aizlkskn+y0/yEViTKoiFAEWE8jVNdyKoAfpza8yd7x3GOHRSqa0QXmot5a25FlPgUSNi7CBZa0rD155i/xBk1vbpN/oIR9yciLqY78HBqrPXzk+cW5TqqIUQuqku6biG/iFM+cRcxOvdPihudal/FIf5rb5E/xDPbK97MIyaqkzetpd/lZcT9dHkq5aFRCSIpK2FxAXlNDl5LHg8EYFcqly4wFjbZQCedNEtOOCZsKXNwRUHrBK/rvgBrBYzQPwA1nWdDslvOKwAAAAASUVORK5CYII="); }

@media screen and (min-width: 18em) and (max-width: 47.9375em) {
  /* line 10, sass/icons.data.png.scss */
  body:not(:target) .layout__body .nav--menu .site-search__submit__icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAzklEQVQoU8WSYRHCMAyFiQMkTAISJmESJmESkDAJ4GAS6gAkIAEH5X3QlazsoPCH3uXatHkvr0ls41aMsZe7kzXp+qr9JDuaGefFMjyBttr2sklBoSBs5UM66u3s32bwCHiN3ZEfIPExlqReyoylRMWhoFUcCu8LMBnzRQkqvhAUC8lPYGrS/QX8Ips21Bask+why06tqGnVpFjAeVhqh4RsVHkQmH4/ql20gi/M4xnTO1OFskYWPMEC7InWzpoJiDPBV+BUnyfBp2xvFPQ3Rbx1+s2J5hcAAAAASUVORK5CYII="); } }
