@charset "UTF-8";
/**
 * Sub-Navigation extra indent 
 */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida, @rowanmanning and ultimately
 * @thierrylemoulec for refining and improving my initial mixin.
 */
/**
 * Simple Terms of Use
 *
 * Manfred’s fonts are free for private and charity use. 
 * They are even free for commercial use – but if there’s 
 * any profit, pls make a donation to organizations like 
 * Doctors Without Borders.
 *
 */
@font-face {
  font-family: 'FranKlein';
  src: url('../fonts/frankleinmedium-webfont.eot?1391627713');
  src: url('../fonts/frankleinmedium-webfont.eot?&1391627713#iefix') format("embedded-opentype"), url('../fonts/frankleinmedium-webfont.woff?1391627714') format("woff"), url('../fonts/frankleinmedium-webfont.ttf?1391627713') format("truetype"), url('../fonts/frankleinmedium-webfont.svg?1391627713#frankleinmediumregular') format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'FranKlein';
  src: url('../fonts/frankleinbold-webfont.eot?1391627713');
  src: url('../fonts/frankleinbold-webfont.eot?&1391627713#iefix') format("embedded-opentype"), url('../fonts/frankleinbold-webfont.woff?1391627713') format("woff"), url('../fonts/frankleinbold-webfont.ttf?1391627713') format("truetype"), url('../fonts/frankleinbold-webfont.svg?1391627713#frankleinboldregular') format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'FranKlein';
  src: url('../fonts/frankleinbook-webfont.eot?1391627713');
  src: url('../fonts/frankleinbook-webfont.eot?&1391627713#iefix') format("embedded-opentype"), url('../fonts/frankleinbook-webfont.woff?1391627713') format("woff"), url('../fonts/frankleinbook-webfont.ttf?1391627713') format("truetype"), url('../fonts/frankleinbook-webfont.svg?1391627713#frankleinbookregular') format("svg");
  font-weight: 100;
  font-style: normal; }
/** MODIFIED: http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
 * Get rid of background, borders, font-sizes, margins, 
 * outlines, padding, etc... Set it where you need it 
 * so you don't have to fight against it or unset it
 * where you don't. 
 */
/* line 8, sass/generic/_reset.scss */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/**
 * 1. Prevent system color scheme's background color being used in Firefox,
 *    IE, and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, 
 *    and Opera.
 * 3. Set default font family to sans-serif.
 * 4. Correct text resizing oddly in IE 6/7 when body `font-size` is set 
 *    using `em` units.
 * 5. Prevent iOS text size adjust after orientation change, without 
 *    disabling user zoom.
 */
/* line 112, sass/generic/_reset.scss */
html,
body {
  background: #fff;
  color: #000;
  font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 *  Remove default styling
 */
/* line 130, sass/generic/_reset.scss */
ol,
ul {
  list-style: none;
  list-style-image: none; }

/*
 * Correct list images handled incorrectly in IE 7.
 */
/* line 140, sass/generic/_reset.scss */
nav ol,
nav ul {
  list-style: none;
  list-style-image: none; }

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 11, sass/generic/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 30, sass/generic/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, sass/generic/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, sass/generic/_normalize.scss */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, sass/generic/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 77, sass/generic/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, sass/generic/_normalize.scss */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 97, sass/generic/_normalize.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, sass/generic/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/*
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
*/
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 128, sass/generic/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 136, sass/generic/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 145, sass/generic/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 153, sass/generic/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 163, sass/generic/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 172, sass/generic/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 184, sass/generic/_normalize.scss */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
/* line 192, sass/generic/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 200, sass/generic/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 208, sass/generic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 216, sass/generic/_normalize.scss */
sup {
  top: -0.5em; }

/* line 220, sass/generic/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 232, sass/generic/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 240, sass/generic/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 252, sass/generic/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 264, sass/generic/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 275, sass/generic/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 286, sass/generic/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 300, sass/generic/_normalize.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 312, sass/generic/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 325, sass/generic/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 337, sass/generic/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 347, sass/generic/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

@media screen and (min-width: 48em) {
  /**
   * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
   *    (include `-moz` to future-proof).
   */
  /* line 360, sass/generic/_normalize.scss */
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box; }

  /**
   * Remove inner padding and search cancel button in Safari 5 and Chrome
   * on OS X.
   */
  /* line 372, sass/generic/_normalize.scss */
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; } }
/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 381, sass/generic/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 392, sass/generic/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 405, sass/generic/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 2, sass/generic/_normalize_faust_additions.scss */
input:focus,
button:focus {
  outline: none; }

/* line 11, sass/generic/_normalize_faust_additions.scss */
img {
  border: 0;
  display: block;
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

/**
 * But this is absolutely necessarly. Move it?
 */
/* line 25, sass/generic/_normalize_faust_additions.scss */
a {
  text-decoration: none; }

/**
 * Partials used to try to keep things dry and accomidate the use of
 * typography.css by concrete5 and TinyMCE. Per Remo Laubacher, 
 * "By default, the WYSIWYG editor looks for the file called 
 * typography.css and includes all the styles too. By doing this, it
 * allows you to add styles which can be displayed during the
 * editing of a text to give the user a first impression about the
 * text layout." 
 * http://www.codeblog.ch/2009/05/concrete5-css-features/
 * Anyway, most of the styles to be used by TinyMCE are children of
 * .text. To work propperly they need to stand on their own in 
 * typography.css. Also, all of the classes in will be available in
 * the TinyMCE GUI interface. So we will want to limit those classes
 * to just the ones we wnat to use. Finally, TinyMCE only allows the
 * user to specifiy one class, so we need a class scheme that gives
 * the user all the flexibility they need in single classes but no
 * more complexity and flexibility than needed.
 * In short, this means to save repeating things in to two different
 * CSS files, these partials and the $typography-css mixin are used.
 */
/* line 22, sass/base/_base_partials.scss */
h1.heading--x-large, h2.heading--x-large, h3.heading--x-large, h4.heading--x-large, h5.heading--x-large, h6.heading--x-large, h1.heading--black--x-large, h2.heading--black--x-large, h3.heading--black--x-large, h4.heading--black--x-large, h5.heading--black--x-large, h6.heading--black--x-large, h1.heading--black--x-large--mixed-case, h2.heading--black--x-large--mixed-case, h3.heading--black--x-large--mixed-case, h4.heading--black--x-large--mixed-case, h5.heading--black--x-large--mixed-case, h6.heading--black--x-large--mixed-case, h1.heading--x-large--mixed-case, h2.heading--x-large--mixed-case, h3.heading--x-large--mixed-case, h4.heading--x-large--mixed-case, h5.heading--x-large--mixed-case, h6.heading--x-large--mixed-case, .heading--x-large, .heading--black--x-large, .heading--black--x-large--mixed-case, .heading--x-large--mixed-case {
  font-size: 1.77778em;
  font-size: 2rem;
  letter-spacing: 0.0625em;
  line-height: 2em;
  line-height: 2.25rem;
  margin-bottom: 0.66667em;
  margin-bottom: 0.75rem; }

/* line 29, sass/base/_base_partials.scss */
h1.heading--large, h2.heading--large, h3.heading--large, h4.heading--large, h5.heading--large, h6.heading--large, h1.heading--black--large, h2.heading--black--large, h3.heading--black--large, h4.heading--black--large, h5.heading--black--large, h6.heading--black--large, h1.heading--black--large--mixed-case, h2.heading--black--large--mixed-case, h3.heading--black--large--mixed-case, h4.heading--black--large--mixed-case, h5.heading--black--large--mixed-case, h6.heading--black--large--mixed-case, h1.heading--large--mixed-case, h2.heading--large--mixed-case, h3.heading--large--mixed-case, h4.heading--large--mixed-case, h5.heading--large--mixed-case, h6.heading--large--mixed-case, .heading--large, .heading--black--large, .heading--black--large--mixed-case, .heading--large--mixed-case {
  font-size: 1.33333em;
  font-size: 1.5rem;
  letter-spacing: 0.08333em;
  line-height: 1.66667em;
  line-height: 2.5rem;
  margin-top: 0;
  margin-top: 0;
  margin-bottom: 0.33333em;
  margin-bottom: 0.5rem; }

/* line 39, sass/base/_base_partials.scss */
p, dl, ol, ul, .full-margin-bottom {
  margin-bottom: 2em;
  margin-bottom: 2.25rem; }

/* line 43, sass/base/_base_partials.scss */
dt + dd, .half-margin-bottom {
  margin-bottom: 2em;
  margin-bottom: 2.25rem; }

/* line 49, sass/base/_base_partials.scss */
h1.heading--black, h2.heading--black, h3.heading--black, h4.heading--black, h5.heading--black, h6.heading--black, h1.heading--black--large, h2.heading--black--large, h3.heading--black--large, h4.heading--black--large, h5.heading--black--large, h6.heading--black--large, h1.heading--black--x-large, h2.heading--black--x-large, h3.heading--black--x-large, h4.heading--black--x-large, h5.heading--black--x-large, h6.heading--black--x-large, h1.heading--black--mixed-case, h2.heading--black--mixed-case, h3.heading--black--mixed-case, h4.heading--black--mixed-case, h5.heading--black--mixed-case, h6.heading--black--mixed-case, h1.heading--black--large--mixed-case, h2.heading--black--large--mixed-case, h3.heading--black--large--mixed-case, h4.heading--black--large--mixed-case, h5.heading--black--large--mixed-case, h6.heading--black--large--mixed-case, h1.heading--black--x-large--mixed-case, h2.heading--black--x-large--mixed-case, h3.heading--black--x-large--mixed-case, h4.heading--black--x-large--mixed-case, h5.heading--black--x-large--mixed-case, h6.heading--black--x-large--mixed-case, .heading--black, .heading--black--large, .heading--black--x-large, .heading--black--mixed-case, .heading--black--large--mixed-case, .heading--black--x-large--mixed-case {
  color: #444; }

/* line 53, sass/base/_base_partials.scss */
h1.heading--large, h2.heading--large, h3.heading--large, h4.heading--large, h5.heading--large, h6.heading--large, h1.heading--black--large, h2.heading--black--large, h3.heading--black--large, h4.heading--black--large, h5.heading--black--large, h6.heading--black--large, h1.heading--black--large--mixed-case, h2.heading--black--large--mixed-case, h3.heading--black--large--mixed-case, h4.heading--black--large--mixed-case, h5.heading--black--large--mixed-case, h6.heading--black--large--mixed-case, h1.heading--large--mixed-case, h2.heading--large--mixed-case, h3.heading--large--mixed-case, h4.heading--large--mixed-case, h5.heading--large--mixed-case, h6.heading--large--mixed-case, .heading--large, .heading--black--large, .heading--black--large--mixed-case, .heading--large--mixed-case {
  font-weight: 400; }

/* line 58, sass/base/_base_partials.scss */
h1.heading--x-large, h2.heading--x-large, h3.heading--x-large, h4.heading--x-large, h5.heading--x-large, h6.heading--x-large, h1.heading--black--x-large, h2.heading--black--x-large, h3.heading--black--x-large, h4.heading--black--x-large, h5.heading--black--x-large, h6.heading--black--x-large, h1.heading--black--x-large--mixed-case, h2.heading--black--x-large--mixed-case, h3.heading--black--x-large--mixed-case, h4.heading--black--x-large--mixed-case, h5.heading--black--x-large--mixed-case, h6.heading--black--x-large--mixed-case, h1.heading--x-large--mixed-case, h2.heading--x-large--mixed-case, h3.heading--x-large--mixed-case, h4.heading--x-large--mixed-case, h5.heading--x-large--mixed-case, h6.heading--x-large--mixed-case, .heading--x-large, .heading--black--x-large, .heading--black--x-large--mixed-case, .heading--x-large--mixed-case {
  font-weight: 400; }

/* line 63, sass/base/_base_partials.scss */
h1.heading--mixed-case, h2.heading--mixed-case, h3.heading--mixed-case, h4.heading--mixed-case, h5.heading--mixed-case, h6.heading--mixed-case, h1.heading--black--mixed-case, h2.heading--black--mixed-case, h3.heading--black--mixed-case, h4.heading--black--mixed-case, h5.heading--black--mixed-case, h6.heading--black--mixed-case, h1.heading--black--large--mixed-case, h2.heading--black--large--mixed-case, h3.heading--black--large--mixed-case, h4.heading--black--large--mixed-case, h5.heading--black--large--mixed-case, h6.heading--black--large--mixed-case, h1.heading--black--x-large--mixed-case, h2.heading--black--x-large--mixed-case, h3.heading--black--x-large--mixed-case, h4.heading--black--x-large--mixed-case, h5.heading--black--x-large--mixed-case, h6.heading--black--x-large--mixed-case, h1.heading--large--mixed-case, h2.heading--large--mixed-case, h3.heading--large--mixed-case, h4.heading--large--mixed-case, h5.heading--large--mixed-case, h6.heading--large--mixed-case, h1.heading--x-large--mixed-case, h2.heading--x-large--mixed-case, h3.heading--x-large--mixed-case, h4.heading--x-large--mixed-case, h5.heading--x-large--mixed-case, h6.heading--x-large--mixed-case, .heading--mixed-case, .heading--black--mixed-case, .heading--black--large--mixed-case, .heading--black--x-large--mixed-case, .heading--large--mixed-case, .heading--x-large--mixed-case {
  text-transform: none; }

/* line 2, sass/base/_text-typography.scss */
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  border-bottom-width: 1px;
  border-style: dotted;
  border-color: #404B4E;
  color: #404B4E;
  text-decoration: none; }

/* line 22, sass/base/_text-typography.scss */
ol {
  list-style: decimal outside;
  margin-left: 1.25em; }

/* line 28, sass/base/_text-typography.scss */
ul {
  list-style: disc outside;
  margin-left: 1em; }

/* line 34, sass/base/_text-typography.scss */
ol.no-list-style,
ul.no-list-style {
  list-style: none;
  margin-left: 0; }

/* line 40, sass/base/_text-typography.scss */
ol.no-list-style-indented,
ul.no-list-style-indented {
  list-style: none; }

/* line 45, sass/base/_text-typography.scss */
.indent {
  margin-left: 1em; }

/* line 49, sass/base/_text-typography.scss */
.double-indent {
  margin-left: 1em; }

/* line 56, sass/base/_text-typography.scss */
dl ul,
dl ol,
ol ul,
ol ol,
ul ul,
ul ol {
  margin-bottom: 0; }

/* line 62, sass/base/_text-typography.scss */
dt {
  font-weight: bold; }

/* line 154, sass/generic/_mixins.scss */
h1, h2, h3, h4, h5, h6 {
  color: #DD5D2D;
  font-family: FranKlein, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 2.33333em;
  margin-top: 2.625rem;
  margin-bottom: 0.33333em;
  margin-bottom: 0.375rem;
  text-transform: uppercase; }
  /* line 78, sass/base/_text-typography.scss */
  h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
  h1 a:visited,
  h2 a:visited,
  h3 a:visited,
  h4 a:visited,
  h5 a:visited,
  h6 a:visited,
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover,
  h1 a:active,
  h2 a:active,
  h3 a:active,
  h4 a:active,
  h5 a:active,
  h6 a:active,
  h1 a:focus,
  h2 a:focus,
  h3 a:focus,
  h4 a:focus,
  h5 a:focus,
  h6 a:focus {
    border-color: inherit;
    color: inherit; }

/* line 154, sass/generic/_mixins.scss */
h1.heading--x-large, h2.heading--x-large, h3.heading--x-large, h4.heading--x-large, h5.heading--x-large, h6.heading--x-large {
  margin-top: 0; }

/* line 154, sass/generic/_mixins.scss */
h1.heading--black--x-large, h2.heading--black--x-large, h3.heading--black--x-large, h4.heading--black--x-large, h5.heading--black--x-large, h6.heading--black--x-large {
  margin-top: 0; }

/* line 154, sass/generic/_mixins.scss */
h1.heading--black--large--mixed-case, h2.heading--black--large--mixed-case, h3.heading--black--large--mixed-case, h4.heading--black--large--mixed-case, h5.heading--black--large--mixed-case, h6.heading--black--large--mixed-case {
  letter-spacing: normal; }

/* line 154, sass/generic/_mixins.scss */
h1.heading--black--x-large--mixed-case, h2.heading--black--x-large--mixed-case, h3.heading--black--x-large--mixed-case, h4.heading--black--x-large--mixed-case, h5.heading--black--x-large--mixed-case, h6.heading--black--x-large--mixed-case {
  letter-spacing: normal;
  margin-top: 0; }

/* line 154, sass/generic/_mixins.scss */
h1.heading--large--mixed-case, h2.heading--large--mixed-case, h3.heading--large--mixed-case, h4.heading--large--mixed-case, h5.heading--large--mixed-case, h6.heading--large--mixed-case {
  letter-spacing: normal; }

/* line 154, sass/generic/_mixins.scss */
h1.heading--x-large--mixed-case, h2.heading--x-large--mixed-case, h3.heading--x-large--mixed-case, h4.heading--x-large--mixed-case, h5.heading--x-large--mixed-case, h6.heading--x-large--mixed-case {
  letter-spacing: normal;
  margin-top: 0; }

/* line 174, sass/base/_text-typography.scss */
.heading--black--large--mixed-case {
  letter-spacing: normal; }

/* line 180, sass/base/_text-typography.scss */
.heading--black--x-large--mixed-case {
  letter-spacing: normal; }

/* line 187, sass/base/_text-typography.scss */
.heading--large--mixed-case {
  letter-spacing: normal; }

/* line 192, sass/base/_text-typography.scss */
.heading--x-large--mixed-case {
  letter-spacing: normal; }

/**
 * Remove from WYSIWYG styles
 * All but .lead
 * Also add list styles for no-bullets or numbers.
 */
/**
 * Figure out how to automate creation of typography.css for WYSIWYG editor
 */
/* line 206, sass/base/_text-typography.scss */
.lead {
  font-size: 1.33333em;
  font-size: 1.5rem;
  line-height: 1.16667em;
  line-height: 1.75rem; }

/* line 219, sass/base/_text-typography.scss */
.no-margin-bottom {
  margin-bottom: 0; }

/* line 13, sass/typography.scss */
body {
  color: #404b4e;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.125em;
  font-size: 1.125rem;
  line-height: 1.5em;
  line-height: 1.5rem;
  padding-left: 0.55556em;
  padding-left: 0.625rem;
  max-width: 616px; }

/* line 24, sass/typography.scss */
i,
em {
  font-style: italic; }
