        <header class="layout__page-head  page-head" id="top" role="banner">  
            <div class="layout__page  layout__page--padded--xs-m  layout__page--padded--m-xl">  
                <h1 class="site-logo">
                    <object class="site-logo--svg" data="/assets/img/svg/logo/vesterheim-logo--white.svg" type="image/svg+xml">
                        <span class="site-logo--fallback">
                            <a class="site-logo__link" href="/" title="Go to Vesterheim Homepage">
                                <span class="site-name">Vesterheim</span><span class="site-name__separator">:</span> <span class="site-tag"><span class="site-tag__break">The National Norwegian-American</span> Museum &amp; Heritage Center</span>
                                <span class="site-logo--image-replacement"></span>
                            </a>
                        </span>
                    </object>
                </h1>
            </div>
        </header>        