{% capture tile_cache %}
{% comment %}
Ratio: 16:9 | Recommended: 1492px by 840px | Minimum: 746px by 420px
{% endcomment %}
{% assign tile_output = '<li class="layout__tile  tile">' %}
{% assign tile_output = tile_output | append: '<a class="layout__tile__lining" href="' | append: tile_url | append: '" title="' | append: tile_title | append: '">' %}
{% assign tile_output = tile_output | append: '<div class="layout__tile__image__wrapper">' %}
{% capture tile_picture_output %}{% picture tile {{ tile_src }} alt="{{ tile_alt }}" %}{% endcapture %}
{% assign tile_output = tile_output | append: tile_picture_output %}
{% assign tile_output = tile_output | append:'</div>' %}
{% assign tile_output = tile_output | append:'<div class="layout__tile__text__wrapper">' %}
{% assign tile_output = tile_output | append:'<h1 class="tile__title">' | append: tile_title | append: '</h1>' %}
{% assign tile_output = tile_output | append:'<p class="more  tile__more">Read More</p>' %}
{% assign tile_output = tile_output | append:'</div>' %}
{% assign tile_output = tile_output | append:'</a>' %}
{% assign tile_output = tile_output | append:'</li>' %}
{% assign tile_picture_output = nil %}
{% endcapture %}{% assign tile_cache = nil %}{{ tile_output }}{% assign tile_output = nil %}