					<ul class="nav--page-head  nav--featured">
						<li class="nav__item  nav--page-head__item  nav--featured__item"><a class="nav--page-head__link  nav--featured__link" href="http://vesterheim.org/CivilWar/">Civil War<span class="collapsable"> Database</span></a></li><!--
						--><li class="nav__item  nav--page-head__item  nav--featured__item"><a class="nav--page-head__link  nav--featured__link" href="http://goldmedalist.vesterheim.org/">Gold Medalist<span class="collapsable"> Portfolio</span></a></li>
					</ul>                  