{% capture cache %}

{% assign nodes = site.data.auto_nav | where: 'level', 1 %}

{% assign output = '<div class="layout__nav--page-foot">' %}
{% assign output = output | append: '<ul class="nav--page-foot">' %}

{% for node in nodes %}
	{% assign data_submenu_id = nil %}
	{% assign item_classes = 'nav--page-foot__item' %}
	{% assign link_classes = 'nav--page-foot__link' %}
	{% assign target = nil %}
	{% assign vertical_rule = nil %}
	{% if node.target %}
		{% assign target = ' target="' | append: node.target | append: '"' %}
	{% endif%}
	{% capture item %}<li class="{{ item_classes }}"><a class="{{ link_classes }}" href="{{ node.url}}"{{ target }}>{{ node.title | xml_escape }}</a></li>{% endcapture %}
	{% assign output = output | append: item %}
{% endfor %}

{% assign output = output | append: '</ul>' %}
{% assign output = output | append: '</div>' %}

{% assign item = nil %}
{% assign item_classes = nil %}
{% assign link_classes = nil %}
{% assign target = nil %}

{% endcapture %}{{ output }}{% assign output = nil %}{% assign cache = nil %}