{% capture tiles_cache %}
{% assign tiles_output = '<ul class="layout__tile__wrapper  tile__wrapper">' %}

{% assign tiles = site.data.auto_nav | where: 'parent', page.url %}

{% for tile in tiles %}
	{% assign tile_url = tile.url %}
	{% if tile.pagelist.title %}
		{% assign tile_title = tile.pagelist.title | markdownify | remove: '<p>' | remove: '</p>'   %}
	{% elsif tile.navigation.title  %}
		{% assign tile_title = tile.navigation.title | markdownify | remove: '<p>' | remove: '</p>'   %}
	{% elsif tile.short_title  %}
		{% assign tile_title = tile.short_title | markdownify | remove: '<p>' | remove: '</p>'   %}
	{% else %}
		{% assign tile_title = tile.title %}
	{% endif %}
	{% assign tile_page = site.pages | where: 'url', tile_url | first %}
	{% if tile_page.pagelist.image %}
		{% assign tile_src =  tile_page.pagelist.image %}
		{% assign tile_alt =  tile_page.pagelist.alt | strip_html | xml_escape %}
	{% elsif tile_page.hero.image %}
		{% assign tile_src =  tile_page.hero.image %}
		{% assign tile_alt =  tile_page.hero.alt | strip_html | xml_escape %}
	{% else %}
		{% assign tile_src = '46x21/fpo_46x21-368.png' %}
		{% assign tile_alt = '' %}
	{% endif %}
	
	{% capture tile_capture %}{% include images/tile.html %}{% endcapture %}	
	{% assign tiles_output = tiles_output | append: tile_capture %}
{% endfor %}

{% assign tiles_output = tiles_output | append: '</ul>' %}

{% assign tiles = nil %}
{% assign tile_url = nil %}
{% assign tile_title = nil %}
{% assign tile_page = nil %}
{% assign tile_src = nil %}
{% assign tile_alt = nil %}
{% assign tile_capture = nil %}

{% endcapture %}{% assign tiles_cache = nil %}{{ tiles_output }}{% assign tiles_output = nil %}