    <footer class="layout__page-foot  page-foot">
        <div class="layout__page  layout__page--padded--xs-m  layout__page--padded--m-xl">          
{% include nav/foot.html%}
                <address class="page-foot__contact  h-card">
                    <div class="p-name  page-foot__contact__p-name"><a class="u-url" href="http://vesterheim.org/">Vesterheim Norwegian-American Museum</a></div>
                    <span class="p-adr">
                    <span class="p-post-office-box">P.O. Box 379</span><span class="page-foot__contact_delimiter">,</span> <span class="p-street-address  page-foot__contact__p-street-address">502 <abbr title="West">W</abbr>. Water <abbr title="Street">St</abbr>.</span><span class="page-foot__contact_delimiter">,</span>
                    <span class="p-locality">Decorah</span>, <span class="p-region">Iowa</span> <span class="p-postal-code">52101</span>
                    </span> 
                    <div class="p-tel"><a class="page-foot__contact__link" href="tel:15633829681">563-382-9681</a></div> 
                    <a accesskey="9" class="u-email  page-foot__contact__link" href="mailto:info@vesterheim.org">info@vesterheim.org</a>
                </address>
                <div class="page-foot__credit"><a class="page-foot__credit__link" href="//www.tronviggroup.com/" rel="nofollow" target="_blank">Creative: Tronvig Group</a></div>
            </div>
        </footer>