/**
 * Sub-Navigation extra indent 
 */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida, @rowanmanning and ultimately
 * @thierrylemoulec for refining and improving my initial mixin.
 */
/* line 4, sass/icons.fallback.scss */
.site-search__submit__icon {
  background-image: url('../img/png/heading/icon__search--blue.png?1391627714'); }

@media screen and (min-width: 48em) {
  /* line 8, sass/icons.fallback.scss */
  .theme--folk-art .site-search__submit__icon {
    background-image: url('../img/png/heading/icon__search--white.png?1391627714'); } }

@media screen and (min-width: 18em) and (max-width: 47.9375em) {
  /* line 17, sass/icons.fallback.scss */
  body:not(:target) .layout__body .nav--menu .site-search__submit__icon {
    background-image: url('../img/png/heading/icon__search--white.png?1391627714'); } }
/* line 24, sass/icons.fallback.scss */
.nav--social__link--facebook {
  background-image: url('../img/png/heading/social-sharing/facebook--white-circle.png?1391627714'); }

/* line 28, sass/icons.fallback.scss */
.social-icon--facebook {
  background-image: url('../img/png/social-sharing-bar/facebook-square.png?1414184250'); }

/* line 32, sass/icons.fallback.scss */
.social-icon--googleplus {
  background-image: url('../img/png/social-sharing-bar/googleplus-square.png?1414184250'); }

/* line 36, sass/icons.fallback.scss */
.social-icon--mail {
  background-image: url('../img/png/social-sharing-bar/mail.png?1414184250'); }

/* line 40, sass/icons.fallback.scss */
.social-icon--pinterest {
  background-image: url('../img/png/social-sharing-bar/pinterest.png?1414184250'); }

/* line 44, sass/icons.fallback.scss */
.social-icon--rss-feed {
  background-image: url('../img/png/social-sharing-bar/rss-feed.png?1414184250'); }

/* line 48, sass/icons.fallback.scss */
.social-icon--tumblr {
  background-image: url('../img/png/social-sharing-bar/tumblr.png?1414184250'); }

/* line 52, sass/icons.fallback.scss */
.social-icon--twitter {
  background-image: url('../img/png/social-sharing-bar/twitter.png?1414184250'); }
