---
layout: page
---
{% capture class__cache %}
	{% assign folk_art_school__instructor__pages = site.pages | where: 'layout', 'instructor' %}
	{% assign class__instructor__pages = '' | split: '' %}
	{% assign class__instructor__html = '' | split: '' %}
	{% for instructor in page.instructor %}
		{% assign class__instructor__page = folk_art_school__instructor__pages | where: 'title', instructor | first %}
		{% if class__instructor__page %}
			{% assign class__instructor__pages = class__instructor__pages | push: class__instructor__page %}
			{% capture class__instructor__html__capture %}<a href="{{ class__instructor__page.url }}">{{ class__instructor__page.title | xml_escape }}</a>{% endcapture %}
			{% assign class__instructor__html = class__instructor__html | push: class__instructor__html__capture %}
		{% else %}
			{% assign class__instructor__html = class__instructor__html | push: instructor %}
		{% endif %}
	{% endfor %}

	{% assign class__instructor__count = class__instructor__html | size %}
	{% assign class__instructor__html = class__instructor__html | array_to_sentence_string %}

	{% assign folk_art_school__instructor__pages = nil %}
	{% assign class__instructor__html__capture = nil %}
	{% assign class__instructor__page = nil %}
	{% assign instructor = nil %}
{% endcapture %}{% assign class__cache = nil %}
<dl>
	{% if page.location %}<dt>Location</dt>
	<dd>{{ page.location | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</dd>{% endif %}
	<dt>{% include pluralize.html number=class__instructor__count singular='Instructor' %}</dt>
	<dd>{{ class__instructor__html }}</dd>
	{% if page.sessions %}<dt>Sessions</dt>
	<dd>{{ page.sessions | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</dd>{% endif %}
	{% if page.level %}<dt>Level of Instruction</dt>
	<dd>{{ page.level | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</dd>{% endif %}
	{% if page.participation %}<dt>Participation</dt>
	<dd>{{ page.participation | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</dd>{% endif %}
	<dt>Tutition</dt>
	<dd>
		<ul>
			<li>{{ page.tuition.members | xml_escape }} Members</li>
			<li>{{ page.tuition.nonmembers | xml_escape }} Non-members</li>
		</ul>
		{% if page.tuition.note %}Note: {{ page.tuition.note | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}{% endif %}
	</dd>
	{% if page.materials_fee %}<dt>Materials Fee</dt>
	<dd>{{ page.materials_fee | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</dd>{% endif %}
	{% if page.materials %}<dt>Materials</dt>
	<dd>{{ page.materials | markdownify }}</dd>{% endif %}
</dl>

{{ content }}

{% if class__instructor__pages.size > 0 %}
<div style="clear: both;">
	<h2>About the {% include pluralize.html number=class__instructor__pages.size singular='Instructor' %}</h2>
	{% for class__instructor__page in class__instructor__pages %}
	<div style="clear: both;">
		{% if class__instructor__pages.size > 1 %}<h3>{{ class__instructor__page.title | xml_escape }}</h3>{% endif %}
		{% if class__instructor__page.lead.image %}{% include images/lead.html image=class__instructor__page.lead.image alt=class__instructor__page.lead.alt caption=class__instructor__page.lead.caption ratio="fourth" %}{% endif %}
		{{ class__instructor__page.content | markdownify }}
	</div>
	{% endfor %}
</div>
{% endif %}
{% capture class__cache %}
	{% assign class__instructor__pages = nil %}
	{% assign class__instructor__count = nil %}
	{% assign class__instructor__html = nil %}
{% endcapture %}{% assign class__cache = nil %}