---
layout: base
carousel__include: true
---
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=509015789178497&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% include home/carousel.html %}
        <div class="layout__page">
            <div class="grid--home">
                <div class="grid--home__column  grid--home__column--primo">
                    <div class="grid--home__column__lining  grid--home__column--primo__lining">
{% for panel in page.panels %}
    {% include home/panel.html %}
{% endfor %}
                    </div>
                </div>


                <div class="grid--home__column  grid--home__column--segundo">
                    <div class="grid--home__column__lining  grid--home__column--segundo__lining">



                        <div class="panel  panel-default  panel-calendar">
                            <div class="panel__lining  panel-calendar__lining">
                                <div class="panel__heading  panel__heading--orange"><span class="category  p-category  panel__title"><span class="panel-calendar__hide-narrow">Events </span>Calendar</span></div>
                                <div class="panel__body  panel-calendar__body">
{% comment %}
{% include home/events-calendar.html %}
{% endcomment %}
{% include home/temp-events-calendar.html %}
                                </div>
                            </div>    
                        </div>



                    </div>
                </div>


                <div class="grid--home__column  grid--home__column--tercero">
                    <div class="grid--home__column__lining  grid--home__column--tercero__lining">


{% include home/hours--side-panel.html %}

{% include home/newsletter--side-panel.html %}

{% include home/give--side-panel.html %}

                        <div class="panel  panel-default">
                            <div class="panel__lining    xpanel__lining--isabelline  panel__lining--padding-bottom">
                                <div class="panel__heading  panel__heading--deep-space-sparkle"><span class="panel__title">Facebook</span></div>
                                <div class="panel__body">                        
<div class="fb-like-box" data-href="https://www.facebook.com/pages/Vesterheim-Norwegian-American-Museum/18263584108" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                                </div>
                            </div>
                        </div>

                        <div class="panel  panel-default">
                            <div class="panel__lining  panel__lining--padding-bottom">
                                <div class="panel__heading  panel__heading--deep-space-sparkle"><span class="panel__title">People's Choice</span></div>
                                <div class="panel__body">
{% picture half widgets/2014--site-of-the-year.png alt="2014 Silos and Smokestacks' People's Choice Site of the Year" %} 
                                </div>
                            </div>
                        </div> 
                        
                        <div class="panel  panel-default">
                            <div class="panel__lining    panel__lining--isabelline  panel__lining--padding-bottom">
                                <div class="panel__heading  panel__heading--deep-space-sparkle"><span class="panel__title">Trip Advisor</span></div>
                                <div class="panel__body">
                                    <div id="TA_certificateOfExcellence937" class="TA_certificateOfExcellence" style="margin:0 auto; padding-top: 24px; max-width: 172px;"><ul id="Pbi9ftpHho" class="TA_links 8OjRukCE"><li id="ge6SAbw5J1vK" class="WewiVMf0Ca"><a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g37822-d276441-Reviews-Vesterheim-Decorah_Iowa.html"><img src="http://www.tripadvisor.com/img/cdsi/img2/awards/CoE2015_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a></li></ul></div>
<script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=937&amp;locationId=276441&amp;lang=en_US&amp;year=2015&amp;display_version=2"></script>
                                </div>
                            </div>
                        </div>






{% comment %}
                        <div class="panel  panel-default">
                            <div class="panel__lining    panel__lining--isabelline  dining__panel__lining">
                                <div class="panel__heading  panel__heading--deep-space-sparkle"><span class="panel__title">Dining &amp; Recreation</span></div>
                                <div class="panel__body">
                                    <a href="#">
                                        <figure class="u-photo">
                                        <span data-picture data-alt="4x3 Image">
                                            <span data-src="../../images/fpo_4x3-320.png"></span>
                                            <span data-src="../../images/fpo_4x3-640.png"     data-media="(min-device-pixel-ratio: 2.0)"></span>
                                            <span data-src="../../images/fpo_4x3-640.png"        data-media="(min-width: 320px)"></span>
                                            <span data-src="../../images/fpo_4x3-1280.png"    data-media="(min-width: 320px) and (min-device-pixel-ratio: 2.0)"></span>
                                            <span data-src="../../images/fpo_4x3-1280.png"         data-media="(min-width: 640px)"></span>
                                            <span data-src="../../images/fpo_4x3-2560.png"     data-media="(min-width: 640px) and (min-device-pixel-ratio: 2.0)"></span>
                                            <!--[if (lt IE 9) & (!IEMobile)]>
                                                <span data-src="../../images/fpo_4x3-640.png"></span>
                                            <![endif]-->
                                            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                                            <noscript>
                                                <img src="../../images/fpo_4x3-320.png" alt="4x3 Image">
                                            </noscript>
                                        </span>                         </figure>
                                        <div class="dining__title">Albert's Restraurant &amp; Pub</div>
                                    </a>

                                    <a href="#">
                                        <figure class="u-photo">
                                            <span data-picture data-alt="4x3 Image">
                                                <span data-src="../../images/fpo_4x3-320.png"></span>
                                                <span data-src="../../images/fpo_4x3-640.png"     data-media="(min-device-pixel-ratio: 2.0)"></span>
                                                <span data-src="../../images/fpo_4x3-640.png"        data-media="(min-width: 320px)"></span>
                                                <span data-src="../../images/fpo_4x3-1280.png"    data-media="(min-width: 320px) and (min-device-pixel-ratio: 2.0)"></span>
                                                <span data-src="../../images/fpo_4x3-1280.png"         data-media="(min-width: 640px)"></span>
                                                <span data-src="../../images/fpo_4x3-2560.png"     data-media="(min-width: 640px) and (min-device-pixel-ratio: 2.0)"></span>
                                                <!--[if (lt IE 9) & (!IEMobile)]>
                                                    <span data-src="../../images/fpo_4x3-640.png"></span>
                                                <![endif]-->
                                                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                                                <noscript>
                                                    <img src="../../images/fpo_4x3-320.png" alt="4x3 Image">
                                                </noscript>
                                            </span>
                                        </figure>
                                        <div class="dining__title">Maecenas dignissim, nibh sed bibendum tempu</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="panel  panel-default">
                            <a class="u-url  panel__lining  panel__lining--deep-space-sparkle" href="#">
                                <div class="panel__heading  panel__heading--deep-space-sparkle"><span class="panel__title">Magazine</span></div>
                                <figure class="u-photo">
                                    <span data-picture data-alt="4x3 Image">
                                        <span data-src="../../images/fpo_4x3-320.png"></span>
                                        <span data-src="../../images/fpo_4x3-640.png"     data-media="(min-device-pixel-ratio: 2.0)"></span>
                                        <span data-src="../../images/fpo_4x3-640.png"        data-media="(min-width: 320px)"></span>
                                        <span data-src="../../images/fpo_4x3-1280.png"    data-media="(min-width: 320px) and (min-device-pixel-ratio: 2.0)"></span>
                                        <span data-src="../../images/fpo_4x3-1280.png"         data-media="(min-width: 640px)"></span>
                                        <span data-src="../../images/fpo_4x3-2560.png"     data-media="(min-width: 640px) and (min-device-pixel-ratio: 2.0)"></span>
                                        <!--[if (lt IE 9) & (!IEMobile)]>
                                            <span data-src="../../images/fpo_4x3-640.png"></span>
                                        <![endif]-->
                                        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                                        <noscript>
                                            <img src="../../images/fpo_4x3-320.png" alt="4x3 Image">
                                        </noscript>
                                    </span>
                                </figure>
                            </a>
                        </div>
{% endcomment %}

                    </div>
                </div>    



        </div>
    </div>    

   