{% assign current_time =  site.time | date: "%s" %}
{% if page.carousel.ratio %}
    {% assign carousel_ratio = page.carousel.ratio %}
{% else %}
    {% assign carousel_ratio = 'carousel' %}
{% endif %}
{% for carousel_slide in page.carousel.slides %}
    {% if forloop.first %}
    <div id="carousel" class="layout__carousel__wrapper">
        <ol class="layout__carousel">
    {% endif %}
  
{% include home/carousel-slide.html %}

    {% if forloop.last %}

    </ol>
</div>

    {% endif %}
{% endfor %}

{% assign current_time = nil %}
{% assign carousel_ratio = nil %}
{% assign carousel_slide = nil %}