                        <div class="panel  panel-default">
                            <div class="panel__lining  panel__lining--padding-bottom  panel__lining--deep-space-sparkle">
                                <div class="panel__heading  panel__heading--deep-space-sparkle"><span class="panel__title">Hours<span class="hide-narrow"> &amp; Admission</span></span></div>
                                <div class="panel__body  hours__panel__body">
                                    <section class="hours__section  hours__section__rule">
                                        <h1 class="hours__section__title">Museum open daily</h1>
{% comment %}
                                        <div class="hours__section__hours">9 am to 5 pm</div>
                                        <div class="hours__section__date">from May 1 to October 31</div>
{% endcomment %}
                                        <div class="hours__section__hours">10 am to 4 pm</div>
                                        <div class="hours__section__date">November 1 to April 30</div>
{% comment %}
                                        <div class="hours__section__date">November 1 to April 30</div>
{% endcomment %}
                                        <div class="hours__section__address">
                                            520 W. Water St. <br />
                                            Decorah, IA 52101
                                        </div>
                                        <div class="hours__section__phone">
                                            563-382-9681 <br />
                                        </div>
                                        <div class="hours__section__email">
                                            <a href="mailto:info@vesterheim.org">info@vesterheim.org</a>
                                        </div>
                                    </section>
                                    <section class="hours__section{% comment %}  hours__section__rule{% endcomment %}">
                                        <h1 class="hours__section__title">Store open daily</h1>
                                        <div class="hours__section__hours">9 am to 5 pm</div>
                                        <div class="hours__section__date">all year</div>
                                        <div class="hours__section__address">
                                            502 W. Water St. <br />
                                            Decorah, IA 52101
                                        </div>                                        
                                        <div class="hours__section__phone">
                                            563-382-9682 <br />
                                            800-979-3346 <br />
                                        </div>
                                        <div class="hours__section__email">
                                            <a href="mailto:giftshop@vesterheim.org">giftshop@vesterheim.org</a>
                                        </div>
                                    </section>
{% comment %}
                                    <section class="hours__section">
                                        <h1 class="hours__section__title">Guided tours of Open Air Division</h1>
                                        <div class="hours__section__open-air">offered once daily generally at 1:30 pm but call ahead for tour times but call ahead for tour times</div>
                                    </section>
{% endcomment %}
                                </div>
                            </div>
                        </div>                          